<div class="jumbotron">
  <h1>Agregar un ancestro</h1>
  <p>Estas editando un ancestro a <%= "#{@sender.names} #{@sender.last_names}." %></p>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render 'form' %>
  </div>
</div>
<div class="btn-group">
  <%= link_to sender_ancestors_path(@sender), class: 'btn btn-default' do %>
  <%= icon('arrow-left') %>
  <% end %>
  <%= link_to 'Ver detalles', [@sender, @ancestor], class: 'btn btn-info' %>
</div>
