<div class="jumbotron">
  <h1>Antepasados</h1>
  <h2>de <%= "#{@sender.names} #{@sender.last_names}" %></h2>
  <br>
  <p>Los antepasados son familiares de un enviador que ya han fallecido y se espera realizar convenios y ordenanzas en el templo por ellos.</p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Ordenanzas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ancestors.each do |ancestor| %>
      <tr>
        <td><%= ancestor.names %></td>
        <td><%= ancestor.last_names %></td>
        <td>
          <% if ancestor.ordinance_types.empty? %>
            No hay ordenanzas registradas.
          <% else %>
            <%= ancestor.ordinance_types.map { |ordinance_type| ordinance_type.name }.to_sentence(last_word_connector: ' y ', two_words_connector: ' y ') %>
          <% end %>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= icon('caret-down', 'Acciones') %></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Ver detalles', [@sender, ancestor] %></li>
              <li><%= link_to 'Editar', edit_sender_ancestor_path(@sender, ancestor) %></li>
              <li><%= link_to 'Eliminar', [@sender, ancestor], method: :delete, data: { confirm: '¿Estás seguro?' } %></li>
              <li class="divider"></li>
              <li><%= link_to 'Agregar ordenanza', new_sender_ancestor_ordinance_path(@sender, ancestor) %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo antepasado', new_sender_ancestor_path, class: 'btn btn-success' %>
