<h1>Listing ancestors</h1>

<table>
  <thead>
    <tr>
      <th>Names</th>
      <th>Last names</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ancestors.each do |ancestor| %>
      <tr>
        <td><%= ancestor.names %></td>
        <td><%= ancestor.last_names %></td>
        <td><%= link_to 'Show', [@sender, ancestor] %></td>
        <td><%= link_to 'Edit', edit_sender_ancestor_path(@sender, ancestor) %></td>
        <td><%= link_to 'Destroy', [@sender, ancestor], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ancestor', new_sender_ancestor_path %>
