<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @ancestor.names %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @ancestor.last_names %>
</p>

<%= link_to 'Edit', edit_sender_ancestor_path(@sender, @ancestor) %> |
<%= link_to 'Back', sender_ancestors_path(@sender) %>
