<%= form_for([@sender, @ancestor, @ordinance], html: { class: 'form-horizontal' }) do |f| %>
  <% if @ordinance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordinance.errors.count, "error") %> prohibited this ordinance from being saved:</h2>

      <ul>
      <% @ordinance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :performed_in, 'Realizada el', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.date_select :performed_in %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ordinance_type_id, 'Ordenanza', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.select(:ordinance_type_id, OrdinanceType.all.map { |ordinance_type| [ordinance_type.name, ordinance_type.id] }) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar ordenanza', class: 'btn btn-success' %>
  </div>
<% end %>
