<div class="jumbotron">
  <h1>Enviadores</h1>
  <p>Los enviadores son personas que se han esforzado en la empresa de recolectar información de sus antepasados.</p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Teléfono</th>
      <th>NIM</th>
      <th>Edad</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @senders.each do |sender| %>
      <tr>
        <td><%= sender.names %></td>
        <td><%= sender.last_names %></td>
        <td><%= sender.phone %></td>
        <td><%= sender.nim %></td>
        <td><%= 'Adulto' if sender.adult %> <%= 'Joven' if sender.young %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= icon('caret-down', 'Acciones') %></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Ver detalles', sender %></li>
              <li><%= link_to 'Editar', edit_sender_path(sender) %></li>
              <li><%= link_to 'Eliminar', sender, method: :delete, data: { confirm: '¿Estás seguro?' } %></li>
              <li class="divider"></li>
              <li><%= link_to('Agregar un antepasado', new_sender_ancestor_path(sender)) %></li>
              <li><%= link_to('Ver todos los antepasados', sender_ancestors_path(sender)) %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo enviador', new_sender_path, class: 'btn btn-success' %>
