<div class="jumbotron">
  <h1>Enviadores</h1>
  <p>Los enviadores son personas que se han esforzado en la empresa de recolectar información de sus antepasados.</p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Teléfono</th>
      <th>NIM</th>
      <th>Edad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @senders.each do |sender| %>
      <tr>
        <td><%= sender.names %></td>
        <td><%= sender.last_names %></td>
        <td><%= sender.phone %></td>
        <td><%= sender.nim %></td>
        <td><%= 'Adulto' if sender.adult %> <%= 'Joven' if sender.young %></td>
        <td><%= link_to 'Ver detalles', sender %></td>
        <td><%= link_to 'Editar', edit_sender_path(sender) %></td>
        <td><%= link_to 'Eliminar', sender, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo enviador', new_sender_path, class: 'btn btn-success' %>
