<div class="jumbotron">
  <h1>Detalles de un enviador</h1>
</div>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6 col-md-offset-3">
    <p>
      <strong>Nombres:</strong>
      <%= @sender.names %>
    </p>

    <p>
      <strong>Apellidos:</strong>
      <%= @sender.last_names %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @sender.phone %>
    </p>

    <p>
      <strong>NIM:</strong>
      <%= @sender.nim %>
    </p>

    <p>
      <strong>LDS user:</strong>
      <%= @sender.lds_user %>
    </p>

    <p>
      <strong>LDS password:</strong>
      <%= @sender.lds_password %>
    </p>

    <p>
      <strong>Edad:</strong>
      <%= 'Adulto' if @sender.adult %> <%= 'Joven' if @sender.young %>
    </p>
  </div> 
</div>
<div class="row">
  <div class="btn-group">
    <%= link_to senders_path, class: 'btn btn-default' do %>
    <%= icon('arrow-left') %>
    <% end %>
    <%= link_to 'Editar', edit_sender_path(@sender), class: 'btn btn-info'  %>
  </div>
</div>
